<header>{{post.title}}</header>

<section>
    <p>{{post.content}}</p>
    <p>Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
</section>
<section>
    {{#if logged_in}}
    <div>
        <h3>Add Comment</h3>
        <form>
            <div>
                <label>Comment</label>
                <input type="text" id="comment"/>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
    {{/if}}

    <header>Comments</header>
    {{#each comments as |comment|}}
    <p>{{comment.user.username}} on {{format_date comment.date_created}}</p>
    <p>{{comment.comment_text}}</p>
    {{/each}}
</section>

{{#if logged_in}}
<script src="/js/comments.js"></script>
{{/if}}
