<header>{{post.title}}</header>

<section>
    <p>{{post.content}}</p>
    <p>Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
</section>
<section>
    <header>Comments</header>
    {{#each comments as |comment|}}
    <p>{{comment.user.username}} on {{format_date comment.date_created}}</p>
    <p>{{comment.comment_text}}</p>
    {{/each}}
</section>